<h1>Show</h1>

<% @category_dealings.each do |c| %>
<li>
  <%= image_tag "#{c.icon}" %>
  <div class="catlog_info">
    <%= c.name %>
  </div>
  
  <%c.dealings.each do |z| %>
  <div>
  <div><%= z.created_at%></div>
    <%= z.name%>
    <%= z.amount %>
  </div>

  
  <% end %>
  <p>Total: $<%= @total %></p>
</li>


<% end %>
  <%# <%= link_to "Add new", new_category_dealing_path(@categories)%> %>