<nav class="navbar">
  <li class="nav_head">
    <%= link_to categories_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
      <h3>Transactions</h3>
    <i class="fa-solid fa-magnifying-glass"></i>
  </li>
  <%= render "shared/navbar" %>
</nav>

<div class="deal_container">
<% @category_dealings.each do |c| %>
<li class="catlog">
  <div class="content">
  <%= image_tag "#{c.icon}" %>
    <%= c.name %>
  </div>
</li>
<hr/>


  <li>
  <% c.dealings.each do |z| %>
  <div class="dealings">
    <div class="content">
      <div class="created_at">
        <p class="hour"><%= z.created_at.strftime("%h")%></p>
        <p class="day"><%= z.created_at.strftime("%d")%></p>
        <p class="year hour"><%= z.created_at.strftime("%Y")%></p>
      </div>

      <div class="data">
      <%= z.name%>
        <p class="time">
        <span>
        <i class="fa-solid fa-stopwatch-20"></i>
        <%= z.created_at.strftime("%T")%>
        </span>
        <span><%= z.created_at.strftime("%p")%></span>
        </p>
      </div>
    </div>
      <p class="amount">$<%= z.amount %></p>
    </div>
  <% end %>
  <p class="total">Total Payment: $<%= @total.floor(2) %></p>
  </li>
  <%= link_to "New Transaction", new_category_dealing_path(c.id), class: "link_btn"%>
<% end %>
</div>