<h1>Add New Category</h1>

<%= form_with model: @category, url: categories_path do |f| %>
  <div class="form__container">
    <div class="form__control">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="form__control">
      <%= f.label :icon%><br />
      <%= f.text_field :icon %>
    </div>

    <%= f.submit %>
  </div>
<% end %>